@import '../../index.scss';

.quantityBox{
    width: 280px;
    height: 200px;
    background-color: var(--bg-blue-light);
    text-align: center;
    box-shadow: 4px 4px 20px 0px rgba(92, 39, 89, 0.25);
    border-radius: 5px;

    .contentTitle{
        text-align: start;
        padding: 1rem;
    }

    .contentQuantity{
        font-size: 52px;
        margin: 0;
    }
}

.dashboardTitle{
    padding: 0px 2rem 2rem;
    font-size: 38px;
    font-weight: 300;
}

.containerDashboard{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}