@import '../../index.scss';

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px var(--paddingDefault);
    margin: 0;
    h1{
        font-size: 22px;
    }
    

}

.header-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
}

.nav-link{
    color: var(--text-light);
    text-decoration: none;
    font-size: 1.2rem;

    &:hover{
        color: var(--pink);
        transition: 300ms;
    }
}

.activeLink{
    color: var(--pink);
    text-shadow: 0 0 10px var(--pink), 0 0 50px var(--pink), 0 0 300px var(--pink);
}