@import '../../index.scss';

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px var(--paddingDefault);
    margin: 0;
    h1{
        font-size: 22px;
    }
    

}

.header-links{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding-right: 1rem;
}